<?xml version="1.0" ?>
<launch>

    <!-- SIMPLE WORLD -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find drone_gaz)/worlds/simple_world.world"/>
        <!-- Run Gazebo server only (without GUI) -->
        <!-- <arg name="gui" value="false"/> -->
</include>

    <node name="spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
	    args="-sdf -model iris_demo -file $(find drone_gaz)/models/iris_with_ardupilot/model.sdf"/>
</launch>
